/*
 * jsTree apple theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
/* line 8, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple > ul {
  background: url(/assets/jquery.jstree/themes/apple/bg-75a1e857e36ad82406e4816ce07957257bad07fdcced1ebe1b31dccf8cd60ddc.jpg) left top repeat;
}

/* line 9, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple li,
.jstree-apple ins {
  background-image: url(/assets/jquery.jstree/themes/apple/d-49ee08d60b7431e6bf9474bfa51b30d684c98415c45342c0bb8d07b01de0feb1.png);
  background-repeat: no-repeat;
  background-color: transparent;
}

/* line 11, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple li {
  background-position: -90px 0;
  background-repeat: repeat-y;
}

/* line 12, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple li.jstree-last {
  background: transparent;
}

/* line 13, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-open > ins {
  background-position: -72px 0;
}

/* line 14, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-closed > ins {
  background-position: -54px 0;
}

/* line 15, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-leaf > ins {
  background-position: -36px 0;
}

/* line 17, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple a {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 1px 1px 1px white;
}

/* line 18, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-hovered {
  background: #e7f4f9;
  border: 1px solid #d8f0fa;
  padding: 0 3px 0 1px;
  text-shadow: 1px 1px 1px silver;
}

/* line 19, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-clicked {
  background: #beebff;
  border: 1px solid #99defd;
  padding: 0 3px 0 1px;
}

/* line 20, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple a .jstree-icon {
  background-position: -56px -20px;
}

/* line 21, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple a.jstree-loading .jstree-icon {
  background: url(/assets/jquery.jstree/themes/apple/throbber-4e4d43ccac9f0ed6eb6f48ea2b00e10a578b68df0e162df6c4c19d2c9725c04b.gif) center center no-repeat !important;
}

/* line 23, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple.jstree-focused {
  background: white;
}

/* line 25, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-dots li,
.jstree-apple .jstree-no-dots .jstree-leaf > ins {
  background: transparent;
}

/* line 27, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-dots .jstree-open > ins {
  background-position: -18px 0;
}

/* line 28, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-dots .jstree-closed > ins {
  background-position: 0 0;
}

/* line 30, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-icons a .jstree-icon {
  display: none;
}

/* line 32, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-search {
  font-style: italic;
}

/* line 34, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-icons .jstree-checkbox {
  display: inline-block;
}

/* line 35, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-no-checkboxes .jstree-checkbox {
  display: none !important;
}

/* line 36, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-checked > a > .jstree-checkbox {
  background-position: -38px -19px;
}

/* line 37, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-unchecked > a > .jstree-checkbox {
  background-position: -2px -19px;
}

/* line 38, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-undetermined > a > .jstree-checkbox {
  background-position: -20px -19px;
}

/* line 39, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-checked > a > .checkbox:hover {
  background-position: -38px -37px;
}

/* line 40, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-unchecked > a > .jstree-checkbox:hover {
  background-position: -2px -37px;
}

/* line 41, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-undetermined > a > .jstree-checkbox:hover {
  background-position: -20px -37px;
}

/* line 43, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-dragged.jstree-apple ins {
  background: transparent !important;
}

/*#vakata-dragged.jstree-apple .jstree-ok { background:image-url("jquery.jstree/themes/apple/d.png") -2px -53px no-repeat !important; }*/
/*#vakata-dragged.jstree-apple .jstree-invalid { background:image-url("jquery.jstree/themes/apple/d.png") -18px -53px no-repeat !important; }*/
/*#jstree-marker.jstree-apple { background:image-url("jquery.jstree/themes/apple/d.png") -41px -57px no-repeat !important; text-indent:-100px; }*/
/* line 48, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple a.jstree-search {
  color: aqua;
}

/* line 49, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
.jstree-apple .jstree-locked a {
  color: silver;
  cursor: default;
}

/* line 51, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context,
#vakata-contextmenu.jstree-apple-context li ul {
  background: #f0f0f0;
  border: 1px solid #979797;
  -moz-box-shadow: 1px 1px 2px #999;
  -webkit-box-shadow: 1px 1px 2px #999;
  box-shadow: 1px 1px 2px #999;
}

/* line 54, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context a {
  color: black;
}

/* line 55, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context a:hover,
#vakata-contextmenu.jstree-apple-context .vakata-hover > a {
  padding: 0 5px;
  background: #e8eff7;
  border: 1px solid #aecff7;
  color: black;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 57, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-apple-context li.jstree-contextmenu-disabled a:hover {
  color: silver;
  background: transparent;
  border: 0;
  padding: 1px 4px;
}

/* line 59, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context li.vakata-separator {
  background: white;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}

/* line 60, /usr/local/rvm/gems/ruby-2.2.0/gems/spree_backend-3.0.1/vendor/assets/javascripts/jquery.jstree/themes/apple/style.scss */
#vakata-contextmenu.jstree-apple-context li ul {
  margin-left: -4px;
}

/* TODO: IE6 support - the `>` selectors */
